/* Estilo para o body */
body {
  background: linear-gradient(#E9DEE3 0%, #BC9EAC);
  overflow-x: hidden;
}

/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #bc9eac9f;
  padding: 20px 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", serif;
  color: #1E1E1E;
  font-weight: 400;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: baseline;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #5A233E;
}

.logo img {
  height: 45px; /* Ajuste o tamanho da logo conforme necessário */
}

.logo img:hover {
  filter: brightness(1.4);
  transition: all 0.5s ease;
}

.img-home {
  position: absolute;
  top: -40px;
  right: -470px;
  width: 100%;
  height: 1000px;
  z-index: -1;
}

.img-home .img-element {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mantém o comportamento do background-size */
  object-position: top right; /* Equivalente ao background-position */
}

/* Estilo para a lista de navegação */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* Espaço entre os itens */
  padding: 0;
}

.nav-links li {
  display: inline-block;
  position: relative;
}

/* Adicionando a linha de separação entre os itens, exceto o último */
.nav-links li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px; /* Distância entre a linha e o item */
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 30px; /* Altura da linha de separação */
  background-color: #1E1E1E; /* Cor da linha */
}

/* Estilo dos links */
.nav-links a {
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  color: #351525;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #5A233E;
  color: #F0F0F0;
  border-radius: 15px;
}

.sobre {
  position: relative;
  background: linear-gradient(to bottom, #e6dcdd, #BC9EAC);
  display: grid;
  place-items: right;
  align-items: end;
  font-family: "IBM Plex Sans", sans-serif;
  grid-template-columns: 1fr 2fr;
  color: #351525;
  padding: 5rem;
  gap: 4rem;
}

.sobre-img {
  position: absolute;
  bottom: -10px;
}

.sobre h1 {
  font-size: 60px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  color: #5A233E;
}

.sobre p {
  font-size: 24px;
}

.quem-somos {
  display: grid;
  grid-column: 2;
  gap: 5rem;
}

.pipoca-agil {
  text-align: justify;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1;
  gap: 1.5rem;
  background-color: #5A233E;
  justify-content: right;
  font-family: "IBM Plex Sans", sans-serif;
  color: #F0F0F0;
  font-size: 20px;
  padding: 2rem 10.7rem;
}

.pipoca-agil h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.pipoca-agil h2 {
  display: none;
}

.time-img {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: grid;
  gap: 10rem;
  background-color: #e9dee3;
  font-family: "IBM Plex Sans", sans-serif;
  color: #351525;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.time-txt h1 {
  text-align: center;
}

.time-txt {
  display: grid;
  justify-content: center;
  text-align: start;
  font-size: 24px;
  font-weight: 400;
}

.time-row {
  display: flex;
  justify-content: center;
  gap: 11rem;
}

.time-member {
  text-align: center;
}

.time-member p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.time-member2 p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.time-member img {
  border-radius: 50%;
  object-fit: cover;
}

/* Adicionando hover do LinkedIn apenas para essa parte */
.image-wrapper {
  position: relative;
  display: inline-block;
}

/* Imagem */
.image-wrapper img {
  border-radius: 50%;
  object-fit: cover;
}

/* Sobreposição rosa */
.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: #bc9eac9d; /* Rosa com transparência */
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.3s ease-in-out; /* Transição suave */
  border-radius: 55%; /* Para manter a sobreposição arredondada */
}

/* Exibir a sobreposição rosa e o ícone do LinkedIn no hover */
.image-wrapper:hover::after {
  opacity: 1; /* Exibe a sobreposição ao passar o mouse */
}

/* Ícone do LinkedIn */
.linkedin-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  opacity: 0; /* Esconde o ícone inicialmente */
  transition: opacity 0.3s ease-in-out;
}

.linkedin-link img {
  width: 100%;
  height: 100%;
}

/* Exibir o logo do LinkedIn no hover */
.image-wrapper:hover .linkedin-link {
  opacity: 1;
}
.img-lk {
  position: absolute;
  width: 200px;
  height: 200px;
}

.container-f {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  font-family: "Roboto", serif;
  gap: 20rem;
  justify-items: center;
  align-items: start;
  padding: 60px 120px;
  background-color: #BC9EAC;
  color: #5A233E;
  margin-bottom: 2rem;
}

footer h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

footer p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ddd;
  max-width: 500px;
}

.texto-f {
  margin-top: 20px;
  font-weight: 300;
  position: absolute;
  font-size: 17px;
  color: #5A233E;
}

.lista-f {
  position: absolute;
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.lista-f a {
  text-decoration: none;
  color: #351525;
}

.mapa-do-site h1 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  color: #351525;
}

.lista-f li {
  margin: 0;
  padding: 0;
}

.redes-sociais {
  margin-top: 3rem;
}

.redes-sociais h1 {
  font-weight: 400;
  color: #5A233E;
}

.social-icons {
  margin-top: 2rem;
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

/* Media queries para telas menores */
@media (max-width: 1200px) {
  .container-f {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 60px 40px;
  }

  .time-row {
    gap: 5rem;
  }
}

@media (max-width: 900px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .logo img {
    height: 35px;
  }

  .sobre {
    grid-template-columns: 1fr;
    padding: 3rem;
  }

  .pipoca-agil {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }

  .time-img {
    padding: 4rem;
    gap: 4rem;
    font-size: 40px;
  }

  .time-row {
    flex-direction: column;
  }

  .container-f {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  footer {
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .nav-links {
    font-size: 16px;
  }

  .time-img {
    padding: 2rem;
    font-size: 30px;
  }

  .container-f {
    padding: 20px;
    gap: 2rem;
  }

  footer {
    padding: 1rem;
  }
}
